target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

build/
bin/
.gradle/
.settings/
.classpath
.project
.idea/
*.iml
/test_access_token.txt
